<section class="container">
<form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario_titulo">Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field_label" for="valor"> Valor</label>
      <input class="form-field_inputl"id = "valor" type="text" [(ngModel)]="valor" name="valor"/>
    </div>

    <div class="form-field">
      <label class="form-fiel_label" for="destino"> Destino</label>
      <input class="form-field_input" id= "destino" type="text" [(ngModel)]="destino" name="destino"/>
    </div>

    <div class="botao-wrapper">
    <button class="botao" type="submit">Transferir</button>
  </div>
  </form>
</section>
